{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% if user.is_authenticated %}
        <p>You are already logged in!</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            {% buttons submit='Login' %}{% endbuttons %}
        </form>
    {% endif %}
    <h3>If you forgot your password click <a href="{% url 'advert:password-reset' %}">here.</a></h3>
{% endblock %}
